#header {
  margin-bottom: 40px;
  height: 100px;

  #navbar {
    background-color: $color-header;
    border-bottom: 1px solid $color-border;

    #logo-area {
      position: relative;
      height: 50px;

      #logo {
        position: absolute;
        height: 100px!important;
        width: 100px;
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
      }
    }

    #nav-area {
      font-weight: 600;
      font-size: 16px;
      height: 50px;
      padding: 10px 0 10px 0;
      margin-left: -30px;
      line-height: 30px;

      #nav {
        li {
          color: $color-texts;
        }

        li + li::before {
          content: " | ";
        }
      }
    }

    #cta-area {
      padding: 10px 0 10px 0;

      #cta {
        font-weight: 700;
        font-size: 16px;
        padding: 0 10px 0 10px;
        height: 30px;
        width: 100%;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        background-color: $color-orange;
      }
    }
  }

  #breadcrumb {
    font-weight: 400;
    font-size: 12px;

    li {
      &:last-child a {
        content: " ";
      }

      &:first-child a {
        padding-left: 0;
      }

      a {
        text-decoration: none;
        padding: 10px 0 10px 10px;
        position: relative;
        display: block;
        float: left;

        img svg {
          color: $color-texts;
          fill: currentColor;
        }
      }
    }
  }
}