body {
  font-family: 'Open Sans', sans-serif;
}

$color-texts: #898989;
$color-border: #c9c9c9;
$color-header: #eeeeee;
$color-orange: #f7941e;
$color-pink: #ec007a;
$color-blue: #20b7ce;

@import "normalize";
@import "grid";
@import "section-header";
@import "section-carrossel";
@import "section-principal";
@import "section-prefooter";
@import "section-footer";

